*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}
header {
	position:relative;
    width: 100%;
    height: 90px;
    background-color: #292929;
}


@media (max-width: 1022px){ /* for mobile devices smaller than 1024 pixels, up to a landscape ipad */

}

@media (min-width: 1023px){
    button{
        background-color: #F0754F;
        color: white;
        height: 40px;
        min-width: 90px;
        border: none;
        border-radius: 10px;
        font-size: 30px;
    }

    body{
        position: absolute;
		background-image: url(assets/desktop-bg.jpg);
        background-size: cover;
        width: 100%;
        height: 100vh;
	}
	header img{
		padding-top: 5px;
       	position:absolute;
		left:40%;
    }
    main{
        width: 100%;
        
    }
	.container{
        padding: 5% 20px 20px 20px;
        text-align: center;
        width: 100%;
        height: 84vh;
    }
    #welcome-page{
        position: relative;
        display: inline-block;
        width: 70%;
        height: 95%;
        min-height: 320px;
        min-width: 695px;
        background-color: rgb(255, 255, 255, 0.6);
        border-radius: 60px;
        padding: 30px 80px 30px 80px;
        margin-bottom: 50px;
        text-align: center;
    }
    #welcome-page h1{
        font-size: 45px;
    }
    #welcome-page p{
        margin-top: 40px;
        font-size: 35px;
    }
    #begin-btn{
        position: absolute;
        bottom: 13%;
        left: 25%;
        width: 50%;
        height: 18%;
        font-size: 45px;
    }
}

#welcome-page{
    /*display: none;
}